
body {
    font-size: 16px;
}

/* Header */
#header-nav {
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    padding-top: 45px;
}

.navbar-brand  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;
}

#logo-img {
    background: url('../images/lightBulb.gif') no-repeat;
    width: 185px;
    height: 160px;
    margin: 10px 15px 10px 0;
}



#home-tiles {
}

.tile {
    position: relative;
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 0 auto 15px;
}

.top-tile {
    height: auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: #bfbfbf;
}

#main-content div div div div {
    overflow: hidden;
}

.range {
    position: relative;
    margin: 7px auto;
}

.btn-group {
    margin: 10px auto;
}

input[type=radio]{
    cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin: 5px 15px 20px;
  float: left;
  clear: both;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(263px);
  -ms-transform: translateX(26px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/** Media Queries **/

/* small devices only */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        height: 60px;
        padding-top: 20px;
    }

    #logo-img-mob {
        background: url('../images/lightBulbSmall.gif') no-repeat;
        width: 57px;
        height: 49px;
        margin: 10px 15px 10px 0;
        float: right;
    }
}

/* Extra small devices only */
@media (max-width: 767px) {
    .navbar-brand {
        height: 12vw;
        padding-top: 20px;
    }
    .navbar-brand h1{
        font-size: 7vw;
    }

    #logo-img-mob {
        background: url('../images/lightBulbSmall.gif') no-repeat;
        margin: 10px 0px;
        width: 57px;
        height: 49px;
        float: right;
    }
}

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 5px #000000, 0px 0px 2.8px #000000;
  background: rgba(0, 0, 0, 0.36);
  border-radius: 5px;
}
#inputSliderR {
    background: #ffb3b3;
}
#inputSliderG {
    background: #b3ffb3;
}
#inputSliderB {
    background: #99ccff;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #ffffff;
  -webkit-appearance: none;
}
