
body {
    font-size: 16px;
}

/* Header */
#header-nav {
}

.navbar-header {
}

.navbar-brand {
    padding-top: 45px;
}

.navbar-brand  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;
}

#logo-img {
    background: url('../images/lightBulb.gif') no-repeat;
    width: 185px;
    height: 160px;
    margin: 10px 15px 10px 0;
}

#home-tiles {
    border: 1px solid black;
    background-color: red;
}

.tile {
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    border: 2px solid black;
    background-color: yellow;
}

.top-tile {
    height: auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#main-content div div div div {
    overflow: hidden;
}

.range {
    position: relative;
    float: left;
    clear: both;
    margin: 5px 0px 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin: 5px 15px 20px;
  float: left;
  clear: both;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(263px);
  -ms-transform: translateX(26px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/** Media Queries **/

/* small devices only */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        height: 60px;
        padding-top: 20px;
    }
}

/* Extra small devices only */
@media (max-width: 767px) {
    .navbar-brand {
        height: 15vw;
        padding-top: 20px;
    }
    .navbar-brand h1{
        font-size: 8vw;
    }
}
